<!DOCTYPE html>
<html>
  <head>
    <title>RoRPlant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <script type="text/javascript" src="/3rdparty/plotly-2.26.0.min.js"></script>
  </head>

  <body>
    <div id='top_messages' class='messages_box'>
      <div id="login_banner">
      <% if user_signed_in? %>
        <!-- Presented options depend on user's auth type. -->
        <%= current_user.full_name %><br/>
        <% if current_user().auth_type == "LOCAL" then %>
            <% # ##Notes on what worked and did not work.
              # This is the popular idiom that worked in Rails 5 & 6 with Devise, but did not work in Rails 7 + Devise.
              # Refer https://github.com/heartcombo/devise#hotwireturbo
              #   =link_to( "Sign out #{current_user.email}", destroy_user_session_path, method: :delete )
              #
              # Works in Rails 7 if turbo-rails extension is installed.
              # Refer https://stackoverflow.com/a/72511327/9981771 
              #   =link_to( "Sign out #{current_user.email}", destroy_user_session_path, data: { turbo_method: "delete" }, class: 'nav-link' )
              # 
              # Definitely works in Rails 5 & 6 & 7 regardless of Turbo, but requires button not hyperlink.
              # Refer https://stackoverflow.com/a/70856955/9981771  
              #   =button_to( "Sign out #{current_user.email}", destroy_user_session_path, method: :delete )
            %>
            <%=button_to( "Sign out #{current_user.email}", destroy_user_session_path, method: :delete ) %>
        <% else %>
          <!-- Permit login as a DB-authenticated user even if currently externally authenticaed. -->
          <% if [:APP_ONLY, :PROXY_OR_APP].include?(Rails.configuration.custom_authentication) then%>
            <%= link_to "Local Sign-in", new_user_session_path, class:'buttonesque' %>
          <% end %>
            <a href="?arg=/MOCKPROXY/scrub">mock logout</a>
        <% end %>

      <% else %>
        You are not logged in.<br/>
        <!-- Presented options depend on server's enabled authn methods. -->
        <% if Rails.configuration.custom_authentication == :PROXY_ONLY then %>
          Login is only by your proxy.
        <% end %>
        <% if [:APP_ONLY, :PROXY_OR_APP].include?(Rails.configuration.custom_authentication) then%>
            <%= link_to "Local Sign-in", new_user_session_path, class:'buttonesque' %>
        <% end %>
        <% # TODO: Debugging aid in absence of actual proxy server, to be removed when proxy involved.
          if [:PROXY_ONLY, :PROXY_OR_APP].include?(Rails.configuration.custom_authentication) then 
        %>
            <a href="?arg=/MOCKPROXY/user2">mock User2 login</a>
        <% end %>
      <% end %>
      </div>
      <%= render partial: "flash_message" %>
    </div>

    <%= yield %>
    
  </body>
</html>
