<div id="<%= dom_id segment %>">
 <span>#<%= segment.id %></span> <span>uuid:<%= segment.uuid %></span> <span><%= segment.segtype %></span> <span><%= segment.shortname %></span>  parent_id: <%= if segment.parent_id? then "^"+String(segment.parent_id) else "(none)" end %>
</div>
