<div id="<%= dom_id segment %>">
 #<%= segment.id %> <%= segment.uuid %>  <%= segment.segtype %> <%= segment.shortname %>  
 <%= if segment.parent_id? then "^"+String(segment.parent_id) else "" end %>
</div>
