<h1>Plant#index</h1>
<!-- Find me in app/views/plant/index.html.erb -->
<p></p>

<div id="layout1">

 <div id="row1" class="sidebyside">

	<div id="segment_tree">
	<h3>Plant Breakdown Structure</h3>
	 <% @seg_tree.each do | seg | %>
	 <div data-path="<%= seg.path %>">
	 <table><tr>
	  <td> <span style="margin-left:<%= (1.2 * seg.level).round(1) %>em;">┣</span> 
	  <td>#<%= seg.id %> 
	  <td><%= seg.segtype %> 
	  <td><%= seg.shortname %> 
	  <!-- <td>^<%= seg.parent_id %> -->
	  <td> 🚦
	  </tr>
	  </table>
	 </div>
	 <% end %>

	</div>

	<div id="diagram_pane">
	<h3>Diagram</h3>
	<object id="engdiagram" data="<%= image_path('PumpingSubsystem.svg')%>" type="image/svg+xml">
	  <!-- <img src="yourfallback.jpg" /> -->
	</object>
	</div>

 </div>

 <div id="row2" class="sidebyside">
 
 
 
 </div>

</div>

